In [1]:
import pandas as pd
import openpyxl
import numpy as np

In [3]:
base = pd.read_excel("C:/Users/evasquez/OneDrive - Bolsa de Cereales de Buenos Aires/Documentos - Instituto Estudios Económicos/Pedidos/2024/Diferencias_FOB/Reunion_Ministerio_1508/análisis/base_analisis.xlsx")
base['Fecha'] = pd.to_datetime(base['Fecha'])
print(base.dtypes)

Fecha                datetime64[ns]
Producto                     object
Posicion                     object
Empresa                      object
Mes                           int64
Año                           int64
coeficiente                 float64
prima_compradora            float64
prima_vendedora             float64
Precio                      float64
precio_comprador            float64
precio_vendedor             float64
media_compradora            float64
media_vendedor              float64
st_comprador                float64
st_vendedor                 float64
Categoria                    object
omitido_comprador           float64
omitido_vendedor            float64
posicion             datetime64[ns]
time_delta_months             int64
Embarque                     object
Valor                        object
dtype: object

In [4]:
gira = pd.read_excel("C:/Users/evasquez/OneDrive - Bolsa de Cereales de Buenos Aires/Documentos - Instituto Estudios Económicos/Pedidos/2024/Diferencias_FOB/Reunion_Ministerio_1508/análisis/ac_gira.xlsx")

In [5]:
#colors = pd.read_excel("C:/Users/evasquez/OneDrive - Bolsa de Cereales de Buenos Aires/Documentos - Instituto Estudios Económicos/Pedidos/2024/Diferencias_FOB/Reunion_Ministerio_1508/análisis/Base_FullSites.xlsx")

In [6]:
#merged_df = gira.merge(colors, on=['Fecha', 'Producto', 'Mes', 'Año'], how='left')
#print(merged_df.columns)

In [5]:
#merged_df = merged_df[['Fecha', 'Producto', 'Mes', 'Año', 'Valor', 'C_cantidad_ob', 'C_part_broker', 'C_marketshare', 'C_desvest']]
#merged_df = merged_df[merged_df['Fecha'] > '2020-01-01']


merged_df2 = pd.melt(gira, id_vars=['Fecha', 'Producto', 'Mes', 'Año', 'Color'], value_vars=['C_cantidad_ob', 'C_part_broker', 'C_marketshare', 'C_desvest'], var_name='Criterio', value_name='PR')
merged_df2['Ausente'] = merged_df2['PR'].apply(lambda x: 1 if x == 0 else 0)

#merged_df2 = merged_df2[merged_df2['Fecha'] > '2020-01-01']

Análisis

In [6]:
#
# Agrupar por 'Producto' y 'Mes' y luego calcular la suma y el conteo de 'Ausente'
grouped = merged_df2.groupby(['Producto', 'Mes'])['Ausente']

ausente_counts = grouped.sum()

total_counts = grouped.count()

percentage_ausente = (ausente_counts / total_counts) * 100

percentage_ausente = percentage_ausente.reset_index(name='Porcentaje_Ausente')

In [7]:
#
ausente_counts = merged_df2[merged_df2['Ausente'] == 1].groupby(['Producto', 'Mes', 'Criterio']).size().reset_index(name='Count')
ausente_counts

              Producto  Mes       Criterio  Count
0    Aceite de Girasol    1  C_cantidad_ob    804
1    Aceite de Girasol    1      C_desvest   1110
2    Aceite de Girasol    1  C_marketshare    972
3    Aceite de Girasol    1  C_part_broker    954
4    Aceite de Girasol    2  C_cantidad_ob    685
..                 ...  ...            ...    ...
283              Trigo   11  C_part_broker   1036
284              Trigo   12  C_cantidad_ob    276
285              Trigo   12      C_desvest     71
286              Trigo   12  C_marketshare    454
287              Trigo   12  C_part_broker    491

[288 rows x 4 columns]

Empresas y Brokers

In [7]:
base_amarillo = base[base['Valor'] == 'Amarillo']
grouped_table = base_amarillo.groupby(['Producto', 'Empresa', 'Mes']).size().reset_index(name='Count')
grouped_table

               Producto   Empresa  Mes  Count
0     Aceite de Girasol       AGD    1     97
1     Aceite de Girasol       AGD    2    124
2     Aceite de Girasol       AGD    3    154
3     Aceite de Girasol       AGD    4    183
4     Aceite de Girasol       AGD    5    100
...                 ...       ...  ...    ...
1070              Trigo  Vicentin    6      9
1071              Trigo  Vicentin    7     17
1072              Trigo  Vicentin    8      3
1073              Trigo  Vicentin   11      7
1074              Trigo  Vicentin   12     20

[1075 rows x 4 columns]